Source: ros-kinetic-mqtt-bridge
Section: misc
Priority: optional
Maintainer: Marc Hanheide <marc@hanheide.net>
Build-Depends: debhelper (>= 9.0.0), python-pip, python-setuptools, ros-kinetic-catkin
Homepage: http://www.ros.org/wiki/mqtt_bridge
Standards-Version: 3.9.2

Package: ros-kinetic-mqtt-bridge
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-rosbridge-library, ros-kinetic-rospy, ros-kinetic-std-msgs
Description: The mqtt_bridge package
